/* body{
    background-color:teal;
} */
.caluclator {
  width: fit-content;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 50px 25px 20px 25px;
  border-radius: 25px;
  background-color: #3d4543;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#screen {
  width: 392px;
  height: 70px;
  margin-bottom: 15px;
  font-size: 35px;
  text-align: right;
  font-family: "Roboto Mono", monospace;
  background-color: #bccd95;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  font-family: "Roboto Mono", monospace;
  width: 86px;
  height: 61px;
  font-weight: bolder;
  font-size: 23px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  transform: scale(0.97);
}
button:active {
  transform: scale(0.95);
  transform: translateY(4px);
}
.pink {
  background-color: #bd1758db;
  color: white;
  font-weight: bolder;
}
.yellow {
  background-color: #f6c908e8;
  color: white;
}
.grey {
  background-color: #5a58589e;
  color: white;
}
